.body {
    font-family: helvetica;
}
#body {
    background-color: white;
    color: black;
}
#botao {
    border-radius: 30px;
    position: absolute;
    left: 1125px;
    background-color: black;
    color: white;
    margin-top: 1000px;
}
#bombeiro>img {
    height: 300px;
    width: 350px;
    border: 2px solid black;
    position: absolute;
    margin-top: 40px;
    left: 20px;
}
.text {
    position: absolute;
    left: 400px;
    width: 400px;
    margin-top: 40px;
}
.ness {
    position: absolute;
    left: 930px;
    margin-top: 40px;
}
.text2 {
    text-align: center;
}
.professor {
    position: absolute;
    margin-top: 450px;
    left: 20px;
}
.pfv>img {
    position: absolute;
    height: 300px;
    width: 350px;
    border: 2px solid black;
}
.text3 {
    position: absolute;
    left: 400px;
    width: 400px;
}
.ness2 {
    position: absolute;
    left: 930px;
    margin-top: 30px;
    width: 300px;
}
.text4 {
    text-align: center;
}
.medico {
    margin-top: 850px;
    position: absolute;
    left: 20px;
}
#medico>img {
    position: absolute;
    height: 300px;
    width: 350px;
    border: 2px solid black;
}
#textt1 {
    position: absolute;
    left: 400px;
    width: 300px;
}
.medicina {
    text-align: center;
    color: white;
}
#bg {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 20px;
    left: 1100px;
    margin-top: 270px;
    border: 3 solid black;
    border-radius: 105px;
}
.soft {
    position: absolute;
    margin-top: 1250px;
    left: 20px;
}
.softw>img {
    position: absolute;
    height: 300px;
    width: 350px;
    border: 2px solid black;
}
.softwa {
    position: absolute;
    left: 400px;
    width: 300px;
}
.softwar {
    position: absolute;
    left: 930px;
    margin-top: 30px;
    width: 300px;
}